@font-face {
    font-family: customFont;
    src: url('../fonts/blowbrush.ttf');
}

body{
    background-color: #747eb5;
    background-image: url('../images/miigii_podcast_logo.png');
    background-size: 100px 100px;
}

header{
    display: flex;
    justify-content: center;
    position: relative;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerBackground{
    background: #ffd556;
    height: 150px;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: -1;
}

.headerContent{
    padding-top: 50px;
    width: 1280px;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerContent img{
    width: 200px;
    height: 200px;
}

.headerTitle{
    text-transform: uppercase;
    font-family: customFont;
    padding-left: 50px;
    padding-top: 75px;
}

.headerTitle h1{
    font-size: 72px;
}

.someLink{
    width: 70px;
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.someLink img{
    width: 50px;
}

.someLinks{
    display: flex;
    justify-content: center;
}

.squares{
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 50px;
}

.square{
    padding: 10px;
    margin: 10px;
    background: #fff;
}

.squareContainer{
    position: relative;
    background: black;
    cursor: pointer;
    text-align: center;
}

.squareContainer:hover .squareImg{
    opacity: 0.5;
}

.squareImg{
    width: 280px;
    height: 280px;
    background-size: contain;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}

.squareText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    display:none;
    color: #fff;
}