@font-face {
    font-family: customFont;
    src: url('../fonts/blowbrush.ttf');
}

body{
    background-color: #747eb5;
    background-image: url('../images/miigii_podcast_logo.png');
    background-size: 100px 100px;
}

/* header{
    display: flex;
    justify-content: center;
    position: relative;
} */

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright{
    width: 100%;
}

.copyright a{
    color: #212529;
}

.copyright p{
    text-align: center;
}

.headerBottom{
    height: 150px;
    background: #ffd556;
}

.headerBottomSmall h1{
    font-size: 72px;
    text-transform: uppercase;
    font-family: customFont;
    padding-left: 50px;
}

.headerBottom, .headerTop{
    display: flex;
    justify-content: center;
    width: 100%;
}

.headerBottomSmall{
    display: flex;
    align-items: center;
}

.headerBottomSmall, .headerTopSmall{
    width: 1280px;
    max-width: 1280px;
    height: 100%;
    position: relative;
}

.headerTopSmall{
    height: 100px;
}

.headerTopSmall img{
    position: absolute;
    bottom: -150px;
    right: 0;
    max-width: 225px;
}

.player{
    width: 100%;
    padding: 25px 0;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.someLink{
    width: 70px;
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.someLink img{
    width: 50px;
}

.someLinks{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.squares{
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 50px;
}

.square{
    padding: 10px;
    margin: 10px;
    background: #fff;
}

.squareContainer{
    position: relative;
    background: black;
    cursor: pointer;
    text-align: center;
}

.squareContainer:hover .squareImg{
    opacity: 0.5;
}

.squareImg{
    max-width: 280px;
    max-height: 280px;
    background-size: contain;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}

.squareText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    display:none;
    color: #fff;
}

@media only screen and (max-width: 880px) {
    .headerBottom{
        height: 100px;
    }
    .headerBottomSmall h1{
        font-size: 42px;
    }

    .headerTopSmall{
        height: 55px;
    }

    .headerTopSmall img{
        bottom: -100px;
        width: 150px;
    }
}

@media only screen and (max-width: 550px) {
    .headerBottom{
        height: 75px;
    }
    .headerBottomSmall h1{
        font-size: 24px;
        padding-left: 25px;
    }

    .headerTopSmall{
        height: 30px;
    }

    .headerTopSmall img{
        bottom: -75px;
        width: 100px;
    }
}