        </div>
        <footer>
            <div class="someLinks">
                <a href="https://geo.itunes.apple.com/us/artist/{{ site.apple_music_username }}?mt=1&app=music" target="blank">
                    <div class="someLink">
                            <img src="{{ site.baseurl }}/images/icons/apple_music.png" class="img-fluid">
                    </div>
                </a>
                <a href="https://itunes.apple.com/us/podcast/id{{ site.apple_podcast_username }}" target="blank">
                    <div class="someLink">
                            <img src="{{ site.baseurl }}/images/icons/apple_podcast.png" class="img-fluid">
                    </div>
                </a>
                <a href="https://www.instagram.com/{{ site.instagram_username }}" target="blank">
                    <div class="someLink">
                            <img src="{{ site.baseurl }}/images/icons/instagram.png" class="img-fluid">
                    </div>
                </a>
                <a href="https://soundcloud.com/{{ site.soundcloud_username }}" target="blank">
                    <div class="someLink">
                            <img src="{{ site.baseurl }}/images/icons/soundcloud.png" class="img-fluid">
                    </div>
                </a>
                <a href="https://open.spotify.com/artist/{{ site.spotify_username }}" target="blank">
                    <div class="someLink">
                            <img src="{{ site.baseurl }}/images/icons/spotify.png" class="img-fluid">
                    </div>
                </a>
            </div>
        </footer>
    <script src="{{site.baseurl}}/js/jquery-3.3.1.min.js"></script>
    <script src="{{site.baseurl}}/js/bootstrap.js"></script>
    <script src="{{site.baseurl}}/js/scripts.js"></script>
    </body>
</html>