        </div>
        <footer>
            <div class="someLinks">
                <div class="someLink">
                    <a href="https://geo.itunes.apple.com/us/artist/{{ site.apple_music_username }}?mt=1&app=music" target="blank">
                        <img src="{{ site.baseurl }}/images/icons/apple_music.png" class="img-fluid">
                    </a>
                </div>
                <div class="someLink">
                    <a href="https://itunes.apple.com/us/podcast/id{{ site.apple_podcast_username }}" target="blank">
                        <img src="{{ site.baseurl }}/images/icons/apple_podcast.png" class="img-fluid">
                    </a>
                </div>
                <div class="someLink">
                    <a href="https://www.instagram.com/{{ site.instagram_username }}" target="blank">
                        <img src="{{ site.baseurl }}/images/icons/instagram.png" class="img-fluid">
                    </a>
                </div>
                <div class="someLink">
                    <a href="https://soundcloud.com/{{ site.soundcloud_username }}" target="blank">
                        <img src="{{ site.baseurl }}/images/icons/soundcloud.png" class="img-fluid">
                    </a>
                </div>
                <div class="someLink">
                    <a href="https://open.spotify.com/artist/{{ site.spotify_username }}" target="blank">
                        <img src="{{ site.baseurl }}/images/icons/spotify.png" class="img-fluid">
                    </a>
                </div>
                <div class="someLink">
                    <a href="mailto:{{ site.email }}" target="top">
                        <img src="{{ site.baseurl }}/images/icons/email.png" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="copyright">
                <p>{{site.title}} - &copy; {{ site.time | date: "%Y" }}</p>
            </div>
        </footer>
    <script src="{{site.baseurl}}/js/jquery-3.3.1.min.js"></script>
    <script src="{{site.baseurl}}/js/bootstrap.js"></script>
    <script src="{{site.baseurl}}/js/scripts.js"></script>
    </body>
</html>